
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_EstateAgentLayoutHeadComponentPartial")

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">

        @await Component.InvokeAsync("_EstateAgentLayoutSpinnerComponentPartial")
        @await Component.InvokeAsync("_EstateAgentLayoutSidebarComponentPartial")

        <div class="content">
            @await Component.InvokeAsync("_EstateAgentLayoutNavbarComponentPartial")

            @RenderBody()

            @await Component.InvokeAsync("_EstateAgentLayoutFooterComponentPartial")
        </div>
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    @await Component.InvokeAsync("_EstateAgentLayoutScriptsComponentPartial")
</body>

</html>
