@model List<ResultProductImageDto>

<div class="single-post-image mb-5">
    <div class="owl-blog owl-carousel owl-theme">
        @foreach(var item in Model)
        {
            <div class="item">
                <div class="card">
                    <img src="~/starter/assets/images2/@item.imageUrl" class="img-fluid radius-image" alt="image">
                </div>
            </div>
        }
    </div>
</div>