
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<section class="w3l-contact-7 pt-5" id="contact">
    <div class="contacts-9 pt-lg-5 pt-md-4">
        <div class="container">
            <div class="top-map">
                <div class="row map-content-9">
                    <div class="col-lg-12">
                        <div class="contact-form">
                            <h5 class="mb-2">Giriş Yap</h5>
                            <p class="mb-4">Bu alandan kullanıcı girişi yapabilirsiniz.</p>
                            <form method="post" asp-controller="Login" asp-action="Index">
                                <div class="input-field">
                                    <input type="text" placeholder="Kullanıcı Adı" required>
                                </div>
                                <div class="input-field mt-4">
                                    <input type="password" placeholder="Şifre" required>
                                </div>
                                <div class="mt-4">
                                    <input type="checkbox"> <label>Beni Hatırla</label>
                                </div>
                                <button type="submit" class="btn btn-primary btn-style mt-3">Giriş Yap</button>
                            </form>
                        </div>
                    </div>
           
                </div>
            </div>
        </div>
        <div class="mt-5"></div>
    </div>
</section>

